* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f3f4f6;
  margin: 0;
  font-family: inherit;
}

.success-box,
.error-box {
  margin-top: 18px;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}

.success-box {
  background: #dcfce7;
  color: #166534;
}

.error-box {
  background: #fee2e2;
  color: #991b1b;
}